<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="" style="text-align: center;">
    
    <div class="card text-center ">
        <div class="card-header alert-warning">
          Find Nearest Pharmacy App
        </div>
        <div class="card-body alert-primary">
          <h5 class="card-title">Pharmacy Finder</h5>
          <p class="card-text">Pharmacy List Updated Monthly</p>
          <a href="/closestPharmacy" class="btn btn-primary">Pharmacy</a>
        </div>
        <div class="alert-danger card-footer text-muted">
          @Ramone Hamlett
        </div>
      </div>
</body>

</html>