
<!DOCTYPE html>
<html>

<head>
  <title>ramoneHS-PAPI_Service</title>
  
  </head>
<body style="text-align: center;">
  <div style="text-align: center;">
      <h2>Find Location</h2>
<form action="/closestPharmacy" method="get">
    <button type="submit">Find Closest Pharmacy</button>
</form>
  </div>

</body>

</html>

